# Supabase
SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_KEY=YOUR_SUPABASE_KEY

# Qdrant
QDRANT_URL=YOUR_QDRANT_URL
QDRANT_API_KEY=YOUR_QDRANT_KEY

# API Key
BACKEND_API_KEY=

# Azure
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
AZURE_CONTAINER_REGISTRY=

# Paths consumed by services project
# API_ADMISSIBILITY_REQUIREMENTS_PATH=/api/v1/admissibility-requirements/
# API_ADMISSIBILITY_RESULTS_PATH=/api/v1/admissibility-results/
