# ===========================
# Secrets & Credentials
# ===========================
.env
credentials
az-token

# ===========================
# Temporary / Test Data
# ===========================
temp/

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/
*.whl

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IDE / Editor
# ===========================
.idea/
.vscode/
*.swp
*.swo
*~

# ===========================
# Docker
# ===========================
*.log

# ===========================
# Misc
# ===========================
*.zip
*.bak
curl
service-file-extractor/job-template.yaml
job-template.yaml
fase-1-2-ingest-tender.py
fase-1-1-setup-qdrant.py
.env.local
fase-1-3-chunk_and_index.py
fase-3-2-verify.py

.agents
.agent/skills/skill-creator
.agent/skills/skill-creator/*
service-creator.skill
.agent/skills/skill-creator/service-creator.skill
backend-credentials
api-doc.md
CLAUDE.md
todo-api.md
service.md
